﻿
@{
    ViewData["Title"] = "Perfil";
}

<h1 class="text-center">Perfil</h1>

<br />
<div class="card">
    <div class="card-body">
        <div class="text-center">
            <h3 id="nombre" class="card-title">Ing. en Sistemas Alan Ordoñez</h3>
            <img src="~/profesor.png" height="100" width="100" alt="Logo" />
        </div>

        <br />
        <div>
            <label for="telefono" class="fw-bold">Teléfono:</label>
            <span id="telefono">999-123-4567</span>
        </div>

        <br />
        <div>
            <label for="email" class="fw-bold">Email:</label>
            <span id="email">micorreo@institucion.com</span>
        </div>

        <br />
        <label for="email" class="fw-bold">Materias:</label>
        @* Aquí se utilizaría un ciclo for para recorrer y mostrar las materias. Aquí se muestran algunas (ejemplo harcodeado): *@
        <ul>
            <li>
                Estructuras de datos
            </li>
            <li>
                Programación Orientada a Objetos
            </li>
        </ul>

        <br />
        <label for="formacionAcademica" class="fw-bold">Formación académica:</label>
        @* Lo mismo, esto solo es un ejemplo harcodeado.*@
        <ul>
            <li>
                Ingeniería en Sistemas Computacionales (1992). Instituto Tecnológico de Mérida
            </li>
            <li>
                Maestría en Educación (1997). Instituto Tecnológico de Mérida.
            </li>
        </ul>
    </div>
    
</div>
