﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center vista-superadministrador-titulo m-auto">
    <h1 class="display-5 fw-bold">¡Bienvenido, super administrador, al Instituto Tecnológico de Mérida!</h1>
</div>

<div class="reloj display-6">
    <div class="hora" id="hora"></div>
    <div>:</div>
    <div class="minutos" id="minutos"></div>
</div>

<div class="row">
    <div class="col-md-7">
        <br />
        <div><span class="h3 fw-bold">Ciclo escolar vigente: &nbsp</span><span class="h3">2024 - 2025</span></div>
        <br />
        <div><span class="h3 fw-bold">Total de profesores registrados: &nbsp</span><span class="h3">6</span></div>
        <br />
        <div><span class="h3 fw-bold">Total de materias registradas: &nbsp</span><span class="h3">17</span></div>
        <br />
        <div><span class="h3 fw-bold">Aulas totales: &nbsp</span><span class="h3">20</span></div>

        <br />
        <div class="d-flex justify-content-center">
            <div class="calendario">
                <div class="mes">
                    <div class="titulo">Marzo 2024</div>
                </div>
                <div class="dias-semana">
                    <div class="dia">Lun</div>
                    <div class="dia">Mar</div>
                    <div class="dia">Mié</div>
                    <div class="dia">Jue</div>
                    <div class="dia">Vie</div>
                    <div class="dia">Sáb</div>
                    <div class="dia">Dom</div>
                </div>
                <div class="dias">
                    <div class="dia-mes"></div>
                    <div class="dia-mes"></div>
                    <div class="dia-mes"></div>
                    <div class="dia-mes"></div>
                    <div class="dia-mes">1</div>
                    <div class="dia-mes">2</div>
                    <div class="dia-mes">3</div>
                    <div class="dia-mes">4</div>
                    <div class="dia-mes">5</div>
                    <div class="dia-mes">6</div>
                    <div class="dia-mes">7</div>
                    <div class="dia-mes">8</div>
                    <div class="dia-mes">9</div>
                    <div class="dia-mes">10</div>
                    <div class="dia-mes">11</div>
                    <div class="dia-mes">12</div>
                    <div class="dia-mes">13</div>
                    <div class="dia-mes">14</div>
                    <div class="dia-mes">15</div>
                    <div class="dia-mes">16</div>
                    <div class="dia-mes">17</div>
                    <div class="dia-mes">18</div>
                    <div class="dia-mes">19</div>
                    <div class="dia-mes">20</div>
                    <div class="dia-mes">21</div>
                    <div class="dia-mes">22</div>
                    <div class="dia-mes">23</div>
                    <div class="dia-mes">24</div>
                    <div class="dia-mes">25</div>
                    <div class="dia-mes">26</div>
                    <div class="dia-mes">27</div>
                    <div class="dia-mes">28</div>
                    <div class="dia-mes">29</div>
                    <div class="dia-mes">30</div>
                    <div class="dia-mes">31</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <br />
        <div class="h3 fw-bold">Notificaciones</div>
        <br />
        <div class="card notificacion">

            <div class="card-body">
                <div class="card-title h5">Nuevo profesor registrado</div>
                <div class="card-text">Administrador Luis ha registrado al profesor Martín.</div>
            </div>

        </div>

        <br />
        <div class="card notificacion">
            <div class="card-body">
                <div class="card-title h5">Nueva materia registrada</div>
                <div class="card-text">Administrador Francisco ha registrado la materia "Probabilidad y estadística.</div>
            </div>
        </div>

        <br />
        <div class="card notificacion">
            <div class="card-body">
                <div class="card-title h5">Nuevo horario generado</div>
                <div class="card-text">Administrador Manuel generó horarios para el Ciclo Escolar 2024 - 2025.</div>
            </div>
        </div>
    </div>
</div>

<script>
    function actualizarReloj() {
        const ahora = new Date();

        const horas = ahora.getHours();
        const minutos = ahora.getMinutes();

        document.getElementById('hora').innerText = horas < 10 ? '0' + horas : horas;
        document.getElementById('minutos').innerText = minutos < 10 ? '0' + minutos : minutos;
    }

    // Actualiza el reloj cada segundo
    setInterval(actualizarReloj, 1000);

    // Llama a la función para que se actualice de inmediato
    actualizarReloj();

</script>