﻿@{
	ViewData["Title"] = "Personalizar Pagina";
}

<h1 class="text-center">Personalizar Página</h1>

<form method="post" enctype="multipart/form-data" asp-controller="Logo" asp-action="Upload">
	<div class="form-group">
		<div>
			<label for="imageFile" class="fw-bold">Logotipo actual: &nbsp;</label>
			<img src="~/logo.png" height="50" width="50" alt="Imagen" />
			<br />
			<span class="fw-bold">Cambiar logotipo: </span>
			<input type="file" name="imageFile" id="imageFile" class="form-control" />
		</div>

		<br />
		<div>
			<label for="backgroundFile" class="fw-bold">Fondo actual: &nbsp;</label>
			<img src="~/background.jpg" height="50" width="100" alt="Imagen" />
			<br />
			<span class="fw-bold">Cambiar fondo: </span>
			<input type="file" name="backgroundFile" id="backgroundFile" class="form-control" />
		</div>

		<br />

		<div class="form-group row">
			<label for="color" class="col-sm-4 col-form-label fw-bold">Colores de la aplicación: </label>
			<div class="col-sm-8">
				<input type="text" name="color" id="color" class="form-control" />
			</div>
		</div>

		<br />

		<div class="form-group row">
			<label for="telefono" class="col-sm-4 col-form-label fw-bold">Teléfono: </label>
			<div class="col-sm-8">
				<input type="text" name="telefono" id="telefono" class="form-control" />
			</div>
		</div>

		<br />

		<div class="form-group row">
			<label for="direccion" class="col-sm-4 col-form-label fw-bold">Dirección: </label>
			<div class="col-sm-8">
				<input name="direccion" id="direccion" class="form-control" />
			</div>
		</div>

		<br />

		<div class="form-group row">
			<label for="correo" class="col-sm-4 col-form-label fw-bold">Correo: </label>
			<div class="col-sm-8">
				<input name="correo" id="correo" class="form-control" />
			</div>
		</div>

		<br />

		<div class="form-group row">
			<label for="redSocial1" class="col-sm-4 col-form-label fw-bold">Redes Social 1: </label>
			<div class="col-sm-8">
				<input name="redSocial1" id="redSocial1" class="form-control" />
			</div>
		</div>

		<br />

		<div class="form-group row">
			<label for="redSocial2" class="col-sm-4 col-form-label fw-bold">Redes Social 2: </label>
			<div class="col-sm-8">
				<input name="redSocial2" id="redSocial2" class="form-control" />
			</div>
		</div>

		<br />

		<div class="form-group row">
			<label for="redSocial3" class="col-sm-4 col-form-label fw-bold">Redes Social 3: </label>
			<div class="col-sm-8">
				<input name="redSocial3" id="redSocial3" class="form-control" />
			</div>
		</div>
	</div>

	<br />
	<div class="text-center">
		<button type="submit" class="btn btn-custom">Guardar cambios</button>
	</div>

</form>
