﻿
@{
    ViewData["Title"] = "Soporte";
}

<h1 class="text-center">Soporte Técnico</h1>

<h5 class="text-center">Utiliza este soporte para reportar quejas, sugerencias, dudas o errores de la aplicación. Un miembro del equipo de soporte responderá lo más pronto posible.</h5>

<br />
<form method="post" enctype="multipart/form-data" asp-controller="Logo" asp-action="Upload">
    <div class="form-group row">
        <label for="nombreCompleto" class="col-sm-4 col-form-label fw-bold">Nombre Completo: </label>
        <div class="col-sm-8">
            <input type="text" name="nombreCompleto" id="nombreCompleto" class="form-control" />
        </div>
    </div>

    <br />

    <div class="form-group row">
        <label for="asunto" class="col-sm-4 col-form-label fw-bold">Asunto: </label>
        <div class="col-sm-8">
            <input type="text" name="asunto" id="asunto" class="form-control" />
        </div>
    </div>

    <br />

    <div class="form-group row">
        <label for="email" class="col-sm-4 col-form-label fw-bold">Email: </label>
        <div class="col-sm-8">
            <input type="text" name="email" id="email" class="form-control" />
        </div>
    </div>

    <br />

    <div class="form-group row">
        <label for="descripcion" class="col-sm-4 col-form-label fw-bold">Descripción: </label>
		<div class="col-sm-8">
            <textarea type="text" name="descripcion" id="descripcion" rows="5" class="form-control"></textarea>
        </div>
    </div>

    <br />
    <div class="text-center">
        <button type="submit" class="btn btn-custom">Enviar reporte</button>
    </div>
</form>