﻿
@{
    ViewData["Title"] = "Consultar Perfil Profesor";
}

<h1 class="text-center">Consultar Perfil Profesor</h1>

<br />
<div class="form-group row">
    <label for="profesor" class="col-sm-4 col-form-label fw-bold">Seleccione profesor: </label>
    <div class="col-sm-8">
        <select id="profesor" class="form-select">
            <option value="profesor1">Profesor 1</option>
            <option value="profesor2">Profesor 2</option>
            <option value="profesor3">Profesor 3</option>
        </select>
    </div>
</div>

<br />
<br />
<div class="text-center">
    <button type="submit" class="btn btn-custom">Consultar Perfil</button>
</div>