﻿
@{
    ViewData["Title"] = "Generar Horarios";
}

<h1 class="text-center">Generar Horarios</h1>

<br />
<form asp-controller="Administrador" asp-action="GenerarHorariosConsumir" method="get">
    <div class="text-center">
        <button type="submit" class="btn btn-custom">Generar Horarios</button>
    </div>
</form>

<br />
<br />
<div class="text-center">
    <button type="submit" class="btn btn-custom">Subir horarios</button>
</div>

@{
    var stringHorarioGenerado = @TempData["StringHorarioGenerado"];
    var errorAlGenerarHorario = @TempData["ErrorAlGenerarHorario"];

    if (stringHorarioGenerado != null)
    {
        <div class="fw-bold">Horario generado:</div>
        <div>@stringHorarioGenerado</div>
    }

    if (errorAlGenerarHorario != null)
    {
        <div class="fw-bold">Horario generado:</div>
        <div>@errorAlGenerarHorario</div>
    }
}