﻿
@{
    ViewData["Title"] = "Panel Administrador";
}

<h1 class="text-center">Panel Administrador</h1>

<br />
<form asp-controller="" asp-action="" method="post">
	<div class="form-group">
		<div class="form-group row">
			<label for="Email" class="col-sm-4 col-form-label fw-bold">Email: </label>
			<div class="col-sm-8">
				<input type="text" name="Email" id="Email" class="form-control" />
			</div>
		</div>

		<br />
		<div class="form-group row">
			<label for="Rol" class="col-sm-4 col-form-label fw-bold">Rol: </label>
			<div class="col-sm-8">
				<select id="Rol" class="form-select">
					<option value="profesor1">Profesor</option>
				</select>
			</div>
		</div>

		<br />
		<div class="form-group row">
			<label for="Password" class="col-sm-4 col-form-label fw-bold">Contraseña: </label>
			<div class="col-sm-8">
				<input type="password" name="Password" id="Password" class="form-control" />
			</div>
		</div>

		<br />
		<br />
		<div class="text-center">
			<button type="submit" class="btn btn-custom">Registrar Usuario</button>
		</div>
	</div>
</form>
