html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 100vh;
}

.background {
    background-image: url(../background.jpg);
    background-size: cover;
    backdrop-filter: blur(10%);
    -webkit-backdrop-filter: blur(5px);
    opacity: 0.3;
    position: absolute;
    top: 40px;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 90%;
}

.navbar {
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3) !important;
    z-index: 999;
}

.footer {
    box-shadow: 0px -5px 8px rgba(0, 0, 0, 0.3) !important;
    z-index: 999;
}

.navbar, .btn-custom, .footer {
    background-color: #7e0223 !important;
}

.btn-custom:hover {
    background-color: #540016 !important;
}

.nav-link, .btn-custom, .footer {
    color: #d19901 !important;
}

.nav-link:hover, .btn-custom:hover {
    color: #ffcf4c !important;
}

.nav-link:active, .btn-custom:active {
    color: #ff8200 !important;
}

.notificacion {
    border-radius: 1em !important;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2) !important;
}

.login-card {
    margin: auto;
    width: 500px;
}

.login-card-inside {
    padding: 2em;
}

.engranaje {
    position: absolute;
    bottom: 33vh;
    left: 1vw;
    z-index: 9999;
}


.vista-superadministrador-titulo {
    width: 70vw;
}

/* Calendario */
.calendario {
    font-family: Arial, sans-serif;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    width: 300px;
}

.mes {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
    background-color: #7e0223;
    color: #ffcf4c;
}

.titulo {
    font-weight: bold;
}

.dias-semana {
    display: flex;
}

.dia {
    flex: 1;
    padding: 5px;
    text-align: center;
    background-color: #ffcf4c;
    color: #7e0223;
}

.dias {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: whitesmoke;
}

.dia-mes {
    padding: 5px;
    text-align: center;
    border: 1px solid #ddd;
}

.dia-mes:hover {
    background-color: #f0f0f0;
}

/* Clock */
.reloj {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    font-size: 3em;
    position: absolute;
    top: 0;
    right: 0;
}

.hora,
.minutos,
.segundos {
    padding: 0 10px;
}
