﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PanelGestorDeHorarios</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PanelGestorDeHorarios.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="background"></div>
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <img src="~/logo.png" height="50" width="50" alt="Logo" />
                @* <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Login">
                    <img src="~/logo.png" height="50" width="50" alt="Logo" />
                </a> *@
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @{
                            #pragma warning disable CS8602 // Desreferencia de una referencia posiblemente NULL.
                            // Si el usuario está autenticado, se le presentará en la Navbar un botón de cerrar sesión.
                            if (User.IsInRole("superadministrador"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="superadministrador" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="superadministrador" asp-action="PersonalizarPagina">Personalizar página</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="superadministrador" asp-action="Soporte">Soporte</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="superadministrador" asp-action="PanelSuperadministrador">Panel Super Administrador</a>
                                </li>
                            }
                            #pragma warning restore CS8602 // Desreferencia de una referencia posiblemente NULL.
                        }
                        @{
                            #pragma warning disable CS8602 // Desreferencia de una referencia posiblemente NULL.
                            // Si el usuario está autenticado, se le presentará en la Navbar un botón de cerrar sesión.
                            if (User.IsInRole("administrador") || User.IsInRole("superadministrador"))
                            {
                                if (!User.IsInRole("superadministrador"))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="administrador" asp-action="Index">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="administrador" asp-action="PanelAdministrador">Panel Administrador</a>
                                    </li>
                                }

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="administrador" asp-action="GenerarHorarios">Generar Horarios</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="administrador" asp-action="ConsultarHorarios">Consultar Horarios</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="administrador" asp-action="ConsultarPerfilProfesor">Consultar Perfil Profesor</a>
                                </li>
                            }
                            #pragma warning restore CS8602 // Desreferencia de una referencia posiblemente NULL.
                        }
                        @{
                        #pragma warning disable CS8602 // Desreferencia de una referencia posiblemente NULL.
                            // Si el usuario está autenticado, se le presentará en la Navbar un botón de cerrar sesión.
                            if (User.IsInRole("profesor"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="profesor" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="profesor" asp-action="Perfil">Mi Perfil</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="profesor" asp-action="MiHorario">Mi Horario</a>
                                </li>
                            }
                        #pragma warning restore CS8602 // Desreferencia de una referencia posiblemente NULL.
                        }
                        @{
                            #pragma warning disable CS8602 // Desreferencia de una referencia posiblemente NULL.
                            // Si el usuario está autenticado, se le presentará en la Navbar un botón de cerrar sesión.
                            if (User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Roles" asp-action="Logout">Cerrar sesión</a>
                                </li>
                            } else
                            {
                                // Si el usuario está autenticado, se le presentará en la Navbar un botón de cerrar sesión.
                                if (!User.Identity.IsAuthenticated)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">Iniciar sesión</a>
                                    </li>
                                }
                            }
                            #pragma warning restore CS8602 // Desreferencia de una referencia posiblemente NULL.
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted container-fluid row">
        <div class="container col-md-1">.</div>
        <div class="container col-md-5">
            <div class="h4 mt-3">Contacto</div>
            <div><span class="fw-bold">Teléfono: &nbsp;</span><span>999-123-4567</span></div>
            <div><span class="fw-bold">Correo: &nbsp</span><span>Ejemplo@@itmerida.com.mx</span></div>
            <div><span class="fw-bold">Dirección: &nbsp;</span><span>Av. Tecnológico S/N Km. 4.5 C.P. 97118, Mérida Yuc.</span></div>
        </div>
        <div class="container col-md-1">.</div>
        <div class="container col-md-4">
            <span class="h4">Redes: &nbsp;</span>
            <a href=""><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b9/2023_Facebook_icon.svg/2048px-2023_Facebook_icon.svg.png" alt="RedSocial1.png" width="20", height="20"/></a>
            <a href=""><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5a/X_icon_2.svg/2048px-X_icon_2.svg.png" alt="RedSocial1.png" width="20" , height="20" /></a>
            <a href=""><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/1200px-Instagram_icon.png" alt="RedSocial1.png" width="20" , height="20" /></a>
            <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14898.0199824681!2d-89.6221622!3d21.0124706!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f5676a65077d641%3A0x39dfe74777312656!2sTecNM%20-%20Campus%20M%C3%A9rida!5e0!3m2!1ses-419!2smx!4v1710591006325!5m2!1ses-419!2smx" width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="container col-md-1">.</div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
