﻿
@{
    ViewData["Title"] = "AccesoDenegado";
}

<br />
<h1 class="text-danger">Acceso denegado :(</h1>
<h2 class="text-danger">Usted no tiene acceso a esta página.</h2>
<h3 class="text-danger">Póngase en contacto con el administrador si considera que esto es un error.</h3>
