﻿@model Usuario

@{
    ViewData["Title"] = "Iniciar sesión";
}

@{
    var mensajeDeErrorLogin = @TempData["MensajeDeErrorLogin"];

    if (mensajeDeErrorLogin != null) {
        <div class="row p-2 bg-danger text-light fw-bold">@mensajeDeErrorLogin</div>
    }
}

<br />
<div class="row login-card">
    <div>
        <form asp-controller="Roles" asp-action="Login" method="get">
            <div class="card login-card-inside">
                <div class="card-body m-auto">
                    <div class="card-title text-center h1">Iniciar sesión</div>
                    <br /> 
                    <div class="card-text">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group row">
                            <label asp-for="folio" class="col-sm-4 col-form-label fw-bold"></label>
                            <div class="col-sm-8">
                                <input asp-for="folio" class="form-control" />
                                <span asp-validation-for="folio" class="text-danger"></span>
                            </div>

                        </div>
                        <br />
                        <div class="form-group row">
                            <label asp-for="password" class="col-sm-4 col-form-label fw-bold"></label>
                            <div class="col-sm-8">
                                <input type="password" asp-for="password" class="form-control" />
                                <span asp-validation-for="password" class="text-danger"></span>
                            </div>
                        </div>

                        <br />
                        <div class="form-group text-center">
                            <input type="submit" value="Iniciar sesión" class="btn btn-custom" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<br />
<div class="row">
    <div class="container col-10 col-sm-9 col-md-8">
        <form asp-controller="Roles" asp-action="LoginSuper">
            <div class="form-group text-center">
                <input type="submit" value="Iniciar sesión (Super)" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="container col-10 col-sm-9 col-md-8">
        <form asp-controller="Roles" asp-action="LoginAdmin">
            <div class="form-group text-center">
                <input type="submit" value="Iniciar sesión (Admin)" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="container col-10 col-sm-9 col-md-8">
        <form asp-controller="Roles" asp-action="LoginProfesor">
            <div class="form-group text-center">
                <input type="submit" value="Iniciar sesión (Profesor)" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}